
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

nav{
  position: fixed;
  width: 100%;
  clear: both;

  z-index: 9999;
  margin: 0 0 0 0;
  border: 10px;
  background-color: #E4F9F5;
}

#items{
  margin: 0;
  padding: 10px;
}

.menus{
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 0;

}

.menus:hover{
  background-color: #66BFBF;
  padding: 10px;
  border-radius: 50px;
}


.top-container{
  background-color: #E4F9F5;
  border: 10px;
  width: 100%;
  margin-top: 0;
  padding-top: 100px;
}

.middle-container{
  border: solid yellow 10px;
}
.intro{
width: 30%;
  margin: auto;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1{
  width: 100%;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  line-height: 2;
  display: inline-block;
  margin: 0 auto 0 auto;

}

h2{
  width: 100%;
  color: #66BFBF;
  font-size: 2.2rem;
  padding-bottom: 10px;
}

h3{
  width: 100%;
  color: #11999E;
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover{
  color: #EAF6F6;
}

p{
  width: 100%;
  font-size: 1.2em;
  line-height: 2;
}

.pie{
  background-color: #66BFBF;
  border: 0;
  padding: 50px 0 20px;
  position: absolute;
  margin-top: 10px;
  width: 100%;
  height: 25%;
}

footer{
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;

}

li{
  position: relative;
  display: inline-block;
}

footer > ul{
  width: 50%;
  display: inline-block;

}

footer ul li{
  display: inline-block;
  position: relative;

  padding-right: 2%;
}

footer a{
  display: inline-block;
  color: #11999E;
  text-decoration: none;
}

footer p{
  display: inline-block;
  color: #EAF6F6;
  width: 50%;
}

.copyright{
color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.titulo1{
  font-weight: normal;
}

.pro{
  text-decoration: underline;
}




.BUTTON_VFC {
  background: #57C5B6;
  background-image: -webkit-linear-gradient(top, #11cdd4, #159895);
  background-image: -moz-linear-gradient(top, #11cdd4, #159895);
  background-image: -ms-linear-gradient(top, #11cdd4, #159895);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_VFC:hover {
  border: solid #05BFDB 1px;
  background: #1A5F7A;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-decoration: none;
}




.mountain{
  width: 30rem;
  bottom:0;

  position: relative;

}

.bottom-cloud{
  width: 10rem;
  margin-bottom: 10%;
  position: absolute;
  right: 20%;
  top: 10rem;
  animation: moveImage2 20s linear infinite;
}

.top-cloud {
  width: 10rem;
  position: absolute;
  margin: 0%;
  top: 27rem;
  left: 20%;

  animation: moveImage 20s linear infinite;

}

@keyframes moveImage {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 200px); /* Ajusta el valor de 200px según el tamaño de la imagen */
  }
}
@keyframes moveImage2 {
  0% {
    left: 0;
  }
  100% {
    left: calc(80% - 200px); /* Ajusta el valor de 200px según el tamaño de la imagen */
  }
}

.skills{
  width: 100%;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  position: relative;
  display: inline-block;
}


.contact-me{
  margin-bottom: 100px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}


.skills-img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skills-img2{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  float: left;

  margin-right: 30px;
}

#skillT{
  top:10px;
  display: inline-block;

}

#profile-pic{
  width: 400px;
}


